:root[data-theme='light'] {
	--color-primary: #fdfbf7;
	--color-secondary: #060607;
	--color-accent: #fecc32;

	--switcher-item: clamp(2px, 0.19vw, 5.4px);
}
:root[data-theme='dark'] {
	--color-primary: #060607;
	--color-secondary: #fdfbf7;
	--color-accent: #fecc32;

	--switcher-item: clamp(34px, 2.6vw, 56.8px);
}

.container {
	max-width: 1440px;

	margin: 0 auto;
	padding: clamp(10px, 2.5vw, 40px);

	height: 100svh;

	background-color: var(--color-primary);

	transition: background-color 0.3s ease-out;
}

.title {
	text-align: center;

	font-size: clamp(22px, 4vw, 48px);
	line-height: 1.4;

	width: clamp(300px, 50vw, 700px);

	color: var(--color-secondary);

	transition: color 0.3s ease-out;
}

.setting {
	position: relative;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.setting--inactive {
	padding: 1px;
	height: 0;
	background-color: var(--color-primary);
	transition: height 0.5s ease, opacity 0.5s ease;
}

.setting__block {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	transform: translate(-100%, 0);

	background-color: var(--color-primary);

	display: flex;
	align-items: center;
	justify-content: center;

	transition: transform ease-in-out 0.4s;
}

.setting__timer {
	padding: 30px;

	border-radius: 24px;

	background-color: var(--color-secondary);

	color: var(--color-primary);

	display: flex;
	flex-direction: column;
	gap: 10px;

	box-shadow: 0 0 8px var(--color-secondary), 0 0 16px var(--color-secondary);
}

.setting__timer-block {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.setting__timer-title {
	color: var(--color-accent);
	font-size: clamp(18px, 3vw, 36px);
	line-height: 1.4;

	text-shadow: 1px 1px 2px var(--color-secondary), 0 0 4px var(--color-accent),
		0 0 8px var(--color-accent), 0 0 16px var(--color-accent);
}

.setting__timer-subtitle {
	color: var(--color-primary);
	font-size: clamp(16px, 2.5vw, 30px);
}

.setting__timer-label {
	color: var(--color-primary);
	font-size: clamp(14px, 2vw, 24px);
}

.setting__timer-range {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	height: 5px;

	border-radius: 13px;

	background: linear-gradient(
		to right,
		var(--color-accent) 0%,
		var(--color-accent) 100%
	);
	background-size: 0% 100%;
	background-repeat: no-repeat;

	outline: none;

	transition: background-size 0.2s ease-out;
}

.setting__timer-range[type='range']::-webkit-slider-runnable-track {
	background-color: var(--color-accent);

	height: 1px;
}

.setting__timer-range[type='range']:focus::-webkit-slider-runnable-track {
	background: var(--color-accent);
}

.setting__timer-range[type='range']::-moz-range-track {
	background-color: var(--color-accent);

	height: 1px;
}

.setting__timer-range[type='range']:focus::-moz-range-track {
	background: var(--color-accent);
}

.setting__timer-range[type='range']::-webkit-slider-thumb {
	appearance: none;

	width: clamp(16px, 4vw, 24px);
	height: clamp(16px, 4vw, 24px);

	background: var(--color-primary);

	border-radius: 50%;

	cursor: pointer;

	transition: transform 0.4s ease-out, box-shadow 0.4s ease-in;

	margin-top: calc((3px - clamp(16px, 4vw, 24px)) / 2);
}

.setting__timer-range[type='range']::-moz-range-thumb {
	appearance: none;

	width: clamp(16px, 4vw, 24px);
	height: clamp(16px, 4vw, 24px);

	background: var(--color-primary);

	border-radius: 50%;

	cursor: pointer;

	transition: transform 0.4s ease-out, box-shadow 0.4s ease-in;

	margin-top: calc((3px - clamp(16px, 4vw, 24px)) / 2);
}

.long__duration-value,
.short__duration-value,
.work__duration-value {
	font-weight: 700;
	color: var(--color-accent);
}

.setting__block--active {
	transform: translate(0, 0);
}

.setting__header {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.setting__btn-icon {
	position: relative;

	width: clamp(40px, 3vw, 68px);
	height: clamp(40px, 3vw, 68px);

	color: var(--color-accent);

	border: solid transparent 1px;
	border-radius: 34px;

	cursor: pointer;

	transition: transform 0.3s ease-in, border-color 0.6s ease-in,
		box-shadow 0.3s ease-in-out;
}

.setting__switcher {
	width: clamp(64px, 4.8vw, 108.8px);
	height: clamp(32.4px, 2.43vw, 55.08px);

	border: clamp(2.4px, 0.18vw, 4px) solid var(--color-accent);
	border-radius: 34px;

	position: relative;

	cursor: pointer;

	transition: box-shadow 0.3s ease-in-out;
}

.setting__switcher:focus-visible {
	outline: 2px solid var(--color-secondary);
	outline-offset: 4px;
	border-radius: 34px;

	transition: outline 0.3s ease-out;
}

.setting__switcher-item {
	position: absolute;
	left: var(--switcher-item);
	top: clamp(2px, 0.25vw, 5.4px);

	width: clamp(23.4px, 1.755vw, 39.78px);
	height: clamp(23.4px, 1.755vw, 39.78px);

	background-color: var(--color-accent);

	border-radius: 50%;

	transition: left 0.4s ease;
}

.setting__content {
	display: flex;
	gap: clamp(10px, 3.5vw, 80px);
	justify-content: center;
	flex-wrap: wrap;
}

.setting__content-block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: clamp(10px, 3.5vw, 80px);
}

.setting__subtitle {
	text-align: center;

	font-size: clamp(18px, 3vw, 36px);
	line-height: 1.4;

	color: var(--color-accent);

	text-shadow: 1px 1px 2px var(--color-secondary), 0 0 4px var(--color-accent),
		0 0 8px var(--color-accent), 0 0 16px var(--color-accent);

	transition: text-shadow 0.3s ease-out;

	height: clamp(50px, 10vw, 100px);
	width: clamp(300px, 50vw, 700px);

	display: flex;
	align-items: center;
	justify-content: center;
}

.setting__btn {
	color: var(--color-secondary);

	border: 2px solid var(--color-accent);
	border-radius: 34px;

	width: clamp(120px, 15vw, 200px);
	height: clamp(36px, 5vw, 48px);

	transition: background-color 0.3s ease-in, color 0.4s ease-out;

	text-align: center;
	font-size: clamp(14px, 1.8vw, 20px);
	font-weight: 700;
}

.setting__list {
	width: 100%;

	display: flex;
	justify-content: flex-start;
	gap: clamp(10px, 2vw, 30px);

	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
}

.setting__list-item {
	padding: clamp(10px, 1.5vw, 20px);

	flex: 0 0 clamp(220px, 28vw, 360px);

	height: clamp(220px, 28vw, 360px);

	background: transparent;

	border: 2px solid var(--color-accent);
	border-radius: 34px;

	overflow-y: auto;
	scroll-snap-align: start;
}

.setting__topic {
	padding-left: 10px;

	display: flex;
	flex-direction: column;
}

.setting__subtopic {
	padding-left: 10px;

	display: flex;
	flex-direction: column;
}

.pomodoro {
	display: none;
	flex-direction: column;
	align-items: center;
}

.pomodoro--active {
	display: flex;

	overflow-x: hidden;
}

.pomodoro__content {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.pomodoro__content-exercises {
	padding: 0;
	margin: 0;

	transition: transform 0.4s ease;

	flex-wrap: nowrap;
	gap: 20px;
}

.pomodoro__content-item {
	flex: 0 0 80%;

	cursor: grab;
}

.pomodoro__content-img {
	width: clamp(200px, 80vw, 790px);
	height: auto;

	display: block;

	border: clamp(2.4px, 0.18vw, 4px) solid var(--color-accent);
}

.pomodoro__title {
	font-size: clamp(100px, 31.25vw, 400px);

	color: var(--color-accent);
}

.pomodoro__subtitle {
	font-size: clamp(14px, 4.4vw, 40px);

	color: var(--color-secondary);

	cursor: pointer;

	transition: color 0.4s ease-in;
}

.pomodoro__subtitle::after {
	content: ', ';
}

.pomodoro__subtitle:last-child::after {
	content: '.';
}

.pomodoro__subtitle:first-child::first-letter {
	text-transform: uppercase;
}

@media (hover: hover) and (pointer: fine) {
	.pomodoro__subtitle:hover {
		color: var(--color-accent);
	}

	.setting__btn-icon:hover {
		transform: rotate(0.26turn);

		border-color: var(--color-accent);

		box-shadow: 0 0 8px var(--color-accent), 0 0 16px var(--color-accent);
	}

	.setting__switcher:hover {
		box-shadow: 0 0 8px var(--color-accent), 0 0 16px var(--color-accent);
	}

	.setting__btn:hover {
		background-color: var(--color-accent);
		color: var(--color-secondary);
	}

	.setting__timer-range[type='range']::-webkit-slider-thumb:hover {
		transform: scale(1.2);

		background-color: var(--color-accent);

		box-shadow: 0 0 8px var(--color-accent), 0 0 16px var(--color-accent);
	}
}
